<div class="col-md-3">
  <div class="list-group">
    <%= link_to 'Champ de bataille', battleground_path, class: "list-group-item list-group-item-action active" %>
    <%= link_to 'Guerriers',  warriors_path, class: "list-group-item list-group-item-action"  %>
    <%= link_to 'Statistiques',  stats_path, class: "list-group-item list-group-item-action" %>
  </div>
</div>
<div class="col-md-9">

</div>
