
/* a, a:hover,a:link {text-decoration: none;color:white} */

.h6{
  font-size: 14px;
  font-weight: bold;
}

.margin_10{
  margin: 10px 0;
}

.lg_btn_center{
  margin:auto;
  margin-top:15px
}

.padding-none{
  padding: 0 !important;
}
.margin-none{
  margin: 0 !important;
}


.vertical-align {
    display: flex !important;
    align-items: center;
}

.battleground_warriors_case{
  margin-bottom:15px;
  height: 800px;
  overflow: auto;
}

.battleground_warriors_case .col-md-12{
  margin-bottom: 15px;
}

.container{
  margin-top: 50px;
}

.card-image{
  height: 200px;
  overflow: hidden;
}

.card{
  position: relative;
}

.card-img-top {
  width: 100%;
  min-height: 100%;
}

.card-image-min{
  height: 120px;
  overflow: hidden;
}

.card-level{
  position: absolute;
  right: 15px;
  top: 10px;
  width: 29px;
  height: 29px;
  border-radius: 20px;
  display: block;
  border: 2px solid;
  color: #d91f30;
  text-align: center;
  cursor: default;
}

.btn-primary{
  background-color: #d91f30;
  border-color: #d91f30;
}

.list-group-item.active{
  background-color: #d91f30;
  border-color: #d91f30;
}

.scale{
  display: table;
}

.scale span{
  display: inline-block;
  border: 1px solid #d91f30;
  margin: 0 1px;
  border-radius: 10px;
}

.scale_min span{
  height: 12px;
  width: 12px;
}

.scale_big{
  margin-top: 8px;
}

.scale_big span{
  height: 18px;
  width: 18px;
}


.scale span.active{
  background-color: #d91f30;
}
